{% extends 'layout.html' %}
 
{% block body %}
<p>Something Wicked This Way Comes!</p> <p>You should now see a folder <code>Dropbox/Apps/Spookify</code>.<br>(If you deployed this app yourself, the name of that folder will instead match the name you gave when you created your Dropbox app.)</p>
<p>Put image files in that folder and watch them get spookified! (Your image won't be overridden. A new file called <code>&lt;filename-spookified.gif&gt;</code> will be added.) You can also choose to "exorcise" the spooky images and return back to a ghost-free Dropbox.</p>
<a class="button" href="exorcise">Exorcise</a>
{% endblock %}
