{% extends 'layout.html' %}
{% block body %}
	<p>It's Halloween! We've gotten reports of GHOSTS in Dropbox!</p>
	<p>You too can have a haunted Dropbox. Connect to this app using the button below, and then drag and drop as many photos as you want into <code>Dropbox/Apps/Spookify</code>. Then it's up to you - are you a friend of the ghosts, or a ghost buster?</p>
	<img src="/static/halp.gif" style="width:550px;display:block;margin:0 auto;">
    <a class="button" href="login">Connect to Dropbox!</a>
{% endblock %}
